.form.large
  .group
    .label
      | Do you consider yourself to be transgender?
    .radio-group.radio-vertical
      .radio.enabled
        | Yes
      .radio
        | No
      .radio
        | Questioning
  .group
    .label
      | Do you consider yourself to be gender non-conforming, gender diverse, gender variant, or gender expansive?
    .radio-group.radio-vertical
      .radio
        | Yes
      .radio.enabled
        | No
      .radio
        | Questioning
  .group
    .label
      | Are you intersex?
    .radio-group.radio-vertical
      .radio
        | Yes
      .radio
        | No
      .radio.enabled
        | I don't know
