.form.large
  .group
    .label
      | Please indicate any of the following underrepresented communities that you identify with.
    .check-group.check-vertical
      .check
        | Ability
      .check
        | Age
      .check
        | Ethnicity
      .check.enabled
        | Gender
      .check.enabled
        | Gender identity
      .check
        | Race
      .check
        | Religion
      .check.enabled
        | Sexual orientation
      .check
        | Socio-economic status/class
      .check
        | Learning differences
      .check
        | Family composition
      .check
        | None
      .check
        | Prefer not to answer
