@import 'fonts.scss';

$bg: #2a3990;


* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
.form, .email {
  background: $bg;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: normal;
  padding: 10px;
  text-align: left;

  max-width: 500px;
  width: 500px;

  hr {
    width: 100%;
    border: 2px solid rgba(255,255,255,0.2);
    background: $bg;
    padding: 0;
    margin: 0;
  }
}

.form {

  .required {
    display: inline-block;
    font-size: 80%;
    color: red;
    vertical-align: top;

      &::before {
        content: "*";
      }
  }

  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .rowgroup {
    display: flex;
    flex-direction: row;

    .subgroup {
      flex-grow: 1;
      flex-basis: 0;
      @extend .group;
      margin-left: 5px;
      &:first {
        margin-left: 0;
      }
    }
  }
  .help {
    font-size: 60%;
    padding: 5px 10px;
    &::before {
      content: "i";
      border: 2px solid white;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      background: rgba(255,255,255,0);
      font-weight: 900;
    }
  }

  .label {
    padding: 0px;
    padding-bottom: 0;
  }
  .textbox {
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    &.invalid {
      border: solid red 2px;
    }
  }
  .radio-group {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-bottom: 5px;
    &.radio-vertical {
      flex-direction: column;
    }

    .radio {
      margin: 5px;
      margin-right: 1em;
      margin-bottom: 0;
      &::before {
        margin-right: 2.5px;
        content: ' ';
        box-sizing: border-box;
        width: 0.8em;
        height: 0.8em;
        background: rgba(255,255,255,0.3);
        border-radius: 50%;
        display: inline-block;
        vertical-align: baseline;
      }
      &.enabled::before {
        background: rgba(255,255,255,0.1);
        border: 0.2em solid rgba(255,255,255,0.2);
      }
    }
  }
}

.email {

  .line {
    display: flex;
    flex-direction: row;
    min-height: 10px;
    padding-bottom: 5px;

    .filled {
      display: inline-block;
      border: 2px solid rgba(255,255,255,0.4);
      border-radius: 5px;
      font-weight: 600;
      margin: -3px 0.244em;
      padding: 1px;
      &.ns-right {
        margin-right: 0;
      }
      &.ns-left {
        margin-left: 0;
      }
    }
  }
}
