.form
  .group
    .label
      | What is your gender?
    .radio-group.radio-vertical
      .radio
        | Male
      .radio
        | Female
      .radio.enabled
        | I do not identify as either male or female
