.form.large
  .group
    .label
      | What is your gender?
    .radio-group.radio-vertical
      .radio
        | Male
      .radio
        | Female
      .radio.enabled
        | Neither male or female
    .help
      | The selection below will only be used for compiling the
      | WGEA report.
  .group
    .label
      | Gender for the purposes of WGEA reporting
    .radio-group.radio-vertical
      .radio
        | Male
      .radio
        | Female
      .radio.enabled
        | Do not include me in the report
