.form
  .group
    .label
      | What is your gender?
    .radio-group.radio-vertical
      .radio
        | Male
      .radio
        | Female
      .radio.enabled
        | I do not identify as either male or female
    .help
      | Due to the limitations in the WGEA reporting guidelines we are required
      | to report a binary gender, or not include you in the report. This
      | selection will only be used for generating the WGEA report.
  .group
    .label
      | Gender for the purposes of WGEA reporting
    .radio-group.radio-vertical
      .radio
        | Male
      .radio
        | Female
      .radio.enabled
        | Do not include me in the report
