.form
  .group
    .label
      | Gender for the purposes of WGEA reporting
    .radio-group.radio-vertical
      .radio
        | Male
      .radio.enabled
        | Female
      .radio
        | Do not include me in the report
    .help
      | Due to the limitations in the WGEA reporting guidelines we are required
      | to either report you as having a binary gender, or not include you in
      | the report. The selection below will only be used for compiling the
      | WGEA report.
