.form
  .group
    .label
      | What pronouns should we use to refer to you?
    .radio-group.radio-vertical
      .radio.enabled
        | She
      .radio
        | They
      .radio
        | He
