.form
  .group
    .label
      | I want to see:
  .check-group.check-vertical
    .check
      | Femme shoes
    .check
      | Masc shoes
    .check.enabled
      | Dresses
    .check
      | Suits
    .check.enabled
      | Ballgowns
