.form
  .group
    .label
      | Gender(as shown on your passport)
    .radio-group.radio-vertical
      .radio
        | M – Male
      .radio.enabled
        | F – Female
      .radio
        | X – Other
