.form
  .rowgroup
    .subgroup
      .label
        | First Name
      .textbox
        | Opal
    .subgroup
      .label
        | Last Name
      .textbox
        | Symes
  .group
    .label
      | Gender
    .radio-group
      .radio
        | Male
      .radio.enabled
        | Female
