.form
  .rowgroup
    .subgroup
      .label
        | Given Name(s)
      .textbox
        | Opal
    .subgroup
      .label
        | Surname
      .textbox
        | Opal
  .group
    .label
      | Gender
    .radio-group
      .radio
        | M
      .radio.enabled
        | F
      .radio
        | X
