.form
  .rowgroup
    .subgroup
      .label
        | First Name
      .textbox
        | 毛
    .subgroup
      .label
        | Last Name
      .textbox
        | 泽覃
  .group
    .label
      | Email
    .textbox
      | mao-ze-tan@example.com
