.form
  .group
      .label
        | Greeting
      .textbox
        | Lord of all she surveys
      .help
        | We'll use this to address you in the emails, you can leave it blank.
  .group
    .label
      | Email
    .textbox
      | opal@opal.codes
