.form
  .group
      .label
        | Greeting
      .textbox
        | 覃
      .help
        | We'll use this to address you in the emails, you can leave it blank.
  .group
    .label
      | Email
    .textbox
      | mao-ze-tan@example.com
